USE [master]
GO
/****** Object:  Database [QL_PHONGGYM]    Script Date: 17/04/2026 12:06:42 SA ******/
CREATE DATABASE [QL_PHONGGYM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_PhongGym', FILENAME = N'D:\QLGYM\Ql_PhongGym.mdf' , SIZE = 20480KB , MAXSIZE = 71680KB , FILEGROWTH = 10240KB )
 LOG ON 
( NAME = N'QL_PhongGym_LOG', FILENAME = N'D:\QLGYM\Ql_PhongGym_LOG.ldf' , SIZE = 10240KB , MAXSIZE = 51200KB , FILEGROWTH = 10240KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_PHONGGYM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_PHONGGYM]
GO
/****** Object:  Table [dbo].[HLV]    Script Date: 17/04/2026 12:06:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLV](
	[MaHLV] [varchar](20) NOT NULL,
	[Chuyenmon] [nvarchar](20) NULL,
	[SDTHLV] [varchar](10) NULL,
	[Luong] [money] NULL,
	[nameofHLV] [nvarchar](50) NULL,
	[hoHLV] [nvarchar](50) NULL,
	[NgayGiaNhap] [date] NULL,
	[Tien1TiengTap] [money] NULL,
	[TrangThaidilam] [nvarchar](20) NULL,
	[NgayNghiPhep] [date] NULL,
	[NgayHetPhep] [date] NULL,
	[NghiViec] [date] NULL,
 CONSTRAINT [PK_HuanLuyenVien] PRIMARY KEY CLUSTERED 
(
	[MaHLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichTap]    Script Date: 17/04/2026 12:06:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichTap](
	[MaLich] [varchar](20) NOT NULL,
	[maHV] [varchar](10) NULL,
	[MaHLV] [varchar](20) NULL,
	[NgayTap] [date] NOT NULL,
	[KhungGioTap] [varchar](20) NOT NULL,
	[GhiChu] [nvarchar](300) NULL,
	[TienTap] [money] NULL,
	[XacNhan] [bit] NULL,
 CONSTRAINT [PK_LichTap] PRIMARY KEY CLUSTERED 
(
	[MaLich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_HieuSuatHLV]    Script Date: 17/04/2026 12:06:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create VIEW [dbo].[View_HieuSuatHLV]
AS
SELECT 
    h.MaHLV,
    h.hoHLV + ' ' + h.nameofHLV AS TenDayDu,
    h.Chuyenmon,
    COUNT(l.MaLich) AS TongSoBuoiDay,
    h.Luong AS LuongCoBan
FROM HLV h
LEFT JOIN LichTap l ON h.MaHLV = l.MaHLV
GROUP BY 
    h.MaHLV, 
    h.hoHLV, 
    h.nameofHLV,
    h.Chuyenmon, 
    h.Luong;
GO
/****** Object:  Table [dbo].[HoiVien]    Script Date: 17/04/2026 12:06:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoiVien](
	[maHV] [varchar](10) NOT NULL,
	[sdt] [varchar](10) NULL,
	[email] [varchar](50) NULL,
	[gioitinh] [nvarchar](3) NULL,
	[ngaysinh] [date] NULL,
	[Trangthai] [varchar](10) NULL,
	[Ho] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[CCCD] [varchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[LyDoKhoa] [nvarchar](255) NULL,
 CONSTRAINT [maHV_PK] PRIMARY KEY CLUSTERED 
(
	[maHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ThongKeHoiVien]    Script Date: 17/04/2026 12:06:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ThongKeHoiVien] AS
SELECT 
    Trangthai,
    gioitinh,
    COUNT(maHV) AS SoLuong,
    CAST(COUNT(maHV) * 100.0 / (SELECT COUNT(*) FROM HoiVien) AS DECIMAL(5,2)) AS TyLePhanTram
FROM HoiVien
GROUP BY Trangthai, gioitinh;
GO
/****** Object:  Table [dbo].[GoiTap]    Script Date: 17/04/2026 12:06:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiTap](
	[MaGoiTap] [varchar](20) NOT NULL,
	[TenGoi] [nvarchar](50) NULL,
	[LoaiGoitap] [nvarchar](20) NULL,
	[GiaTien] [money] NULL,
	[thoihan] [int] NULL,
 CONSTRAINT [MaGoiTap_PK] PRIMARY KEY CLUSTERED 
(
	[MaGoiTap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 17/04/2026 12:06:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [varchar](20) NOT NULL,
	[maHV] [varchar](10) NULL,
	[MaGoiTap] [varchar](20) NULL,
	[NgayBD] [date] NULL,
	[NgayKT] [date] NULL,
	[SoLuong] [int] NULL,
	[TrangThaiHD] [varchar](10) NULL,
	[LyDoKhoa] [nvarchar](255) NULL,
 CONSTRAINT [MaHD_PK] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hoadon]    Script Date: 17/04/2026 12:06:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoadon](
	[MaHoaDon] [varchar](20) NOT NULL,
	[MaHD] [varchar](20) NULL,
	[NgayThanhToan] [date] NULL,
	[SoLuongHoaDon] [int] NULL,
	[PhuongThucTT] [nvarchar](20) NULL,
	[SoTien] [money] NULL,
	[DaTT] [money] NULL,
	[ConNo] [money] NULL,
	[NguoiLapHoaDon] [nvarchar](50) NULL,
 CONSTRAINT [PK_Hoadon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_DoanhThuGoiTap]    Script Date: 17/04/2026 12:06:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_DoanhThuGoiTap] AS
SELECT 
    g.TenGoi,
    COUNT(hd.MaHD) AS SoLuongDangKy,
    SUM(h.SoTien) AS TongDoanhThu
FROM GoiTap g
LEFT JOIN HopDong hd ON g.MaGoiTap = hd.MaGoiTap
LEFT JOIN Hoadon h ON hd.MaHD = h.MaHD
GROUP BY g.TenGoi;
GO
/****** Object:  Table [dbo].[CoSoVatChat]    Script Date: 17/04/2026 12:06:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSoVatChat](
	[MaSP] [varchar](20) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[NgayNhap] [date] NULL,
	[SoLuongCSVC] [int] NULL,
	[TinhTrangCSVC] [nvarchar](20) NULL,
	[ChiPhiMua] [money] NULL,
	[ChiPhiBaoTri] [money] NULL,
	[NgayHetHanBaoHanh] [date] NULL,
	[NgayBaoTriCuoi] [date] NULL,
	[ChiTietBaoTri] [nvarchar](500) NULL,
	[SoNgayConBaoHanh] [int] NULL,
 CONSTRAINT [PK_CoSoVatChat] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuXuatBaoCao]    Script Date: 17/04/2026 12:06:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuXuatBaoCao](
	[MaBaoCao] [varchar](20) NOT NULL,
	[TenBaoCao] [nvarchar](100) NULL,
	[NguoiXuat] [varchar](10) NULL,
	[NgayXuat] [datetime] NULL,
	[NoiDungTomTat] [nvarchar](500) NULL,
 CONSTRAINT [PK_LichSuXuatBaoCao] PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 17/04/2026 12:06:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [varchar](10) NOT NULL,
	[matkhau] [char](50) NULL,
	[chucvu] [nvarchar](20) NULL,
	[SDTNV] [varchar](10) NULL,
	[emailNV] [varchar](50) NULL,
	[NgaySinhNV] [date] NULL,
	[LuongNV] [money] NULL,
	[HoNV] [nvarchar](50) NULL,
	[TenNV] [nvarchar](50) NULL,
	[ThoiGianVao] [date] NULL,
	[TrangThaidilam] [nvarchar](20) NULL,
	[NgayNghiPhep] [date] NULL,
	[NgayHetPhep] [date] NULL,
	[NghiViec] [date] NULL,
 CONSTRAINT [maNV_PK] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CoSoVatChat] ([MaSP], [TenSP], [NgayNhap], [SoLuongCSVC], [TinhTrangCSVC], [ChiPhiMua], [ChiPhiBaoTri], [NgayHetHanBaoHanh], [NgayBaoTriCuoi], [ChiTietBaoTri], [SoNgayConBaoHanh]) VALUES (N'CSVC2301', N'Máy chạy bộ Treadmill A1', CAST(N'2023-05-10' AS Date), 5, N'Hoạt động', 150000000.0000, 5000000.0000, CAST(N'2025-05-10' AS Date), CAST(N'2024-05-10' AS Date), N'Tra dầu mỡ định kỳ', 0)
INSERT [dbo].[CoSoVatChat] ([MaSP], [TenSP], [NgayNhap], [SoLuongCSVC], [TinhTrangCSVC], [ChiPhiMua], [ChiPhiBaoTri], [NgayHetHanBaoHanh], [NgayBaoTriCuoi], [ChiTietBaoTri], [SoNgayConBaoHanh]) VALUES (N'CSVC2302', N'Xe đạp tập thể dục B2', CAST(N'2023-05-15' AS Date), 10, N'Hoạt động', 80000000.0000, 2000000.0000, CAST(N'2025-05-15' AS Date), CAST(N'2024-05-15' AS Date), N'Kiểm tra dây curoa', 0)
INSERT [dbo].[CoSoVatChat] ([MaSP], [TenSP], [NgayNhap], [SoLuongCSVC], [TinhTrangCSVC], [ChiPhiMua], [ChiPhiBaoTri], [NgayHetHanBaoHanh], [NgayBaoTriCuoi], [ChiTietBaoTri], [SoNgayConBaoHanh]) VALUES (N'CSVC2401', N'Giàn tạ đa năng C3', CAST(N'2024-02-20' AS Date), 3, N'Hoạt động', 120000000.0000, 3000000.0000, CAST(N'2026-02-20' AS Date), CAST(N'2025-02-20' AS Date), N'Siết ốc, bôi trơn cáp', 0)
GO
INSERT [dbo].[GoiTap] ([MaGoiTap], [TenGoi], [LoaiGoitap], [GiaTien], [thoihan]) VALUES (N'GTBASIC01', N'Gói Basic 1 Tháng', N'Basic', 500000.0000, 30)
INSERT [dbo].[GoiTap] ([MaGoiTap], [TenGoi], [LoaiGoitap], [GiaTien], [thoihan]) VALUES (N'GTBASIC02', N'Gói Basic 3 Tháng', N'Basic', 1300000.0000, 90)
INSERT [dbo].[GoiTap] ([MaGoiTap], [TenGoi], [LoaiGoitap], [GiaTien], [thoihan]) VALUES (N'GTBASIC03', N'Gói Basic 6 Tháng', N'Basic', 2500000.0000, 180)
GO
INSERT [dbo].[HLV] ([MaHLV], [Chuyenmon], [SDTHLV], [Luong], [nameofHLV], [hoHLV], [NgayGiaNhap], [Tien1TiengTap], [TrangThaidilam], [NgayNghiPhep], [NgayHetPhep], [NghiViec]) VALUES (N'HLVBOX01', N'Boxing', N'0987654324', 20000000.0000, N'Văn Đấm', N'Nguyễn', CAST(N'2026-03-31' AS Date), 300000.0000, N'Nghỉ việc', NULL, NULL, CAST(N'2026-04-14' AS Date))
INSERT [dbo].[HLV] ([MaHLV], [Chuyenmon], [SDTHLV], [Luong], [nameofHLV], [hoHLV], [NgayGiaNhap], [Tien1TiengTap], [TrangThaidilam], [NgayNghiPhep], [NgayHetPhep], [NghiViec]) VALUES (N'HLVBOX02', N'Boxing', N'0987654325', 16000000.0000, N'Thị Quyền', N'Hoàng', CAST(N'2024-01-12' AS Date), 300000.0000, NULL, NULL, NULL, NULL)
INSERT [dbo].[HLV] ([MaHLV], [Chuyenmon], [SDTHLV], [Luong], [nameofHLV], [hoHLV], [NgayGiaNhap], [Tien1TiengTap], [TrangThaidilam], [NgayNghiPhep], [NgayHetPhep], [NghiViec]) VALUES (N'HLVCAR01', N'Cardio', N'0987654329', 11000000.0000, N'Văn Chạy', N'Đỗ', CAST(N'2024-03-01' AS Date), 150000.0000, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Hoadon] ([MaHoaDon], [MaHD], [NgayThanhToan], [SoLuongHoaDon], [PhuongThucTT], [SoTien], [DaTT], [ConNo], [NguoiLapHoaDon]) VALUES (N'INV2501', N'HDBASIC2501', CAST(N'2025-11-15' AS Date), 1, N'Chuyển khoản', 2500000.0000, 2500000.0000, 0.0000, N'LT2401')
INSERT [dbo].[Hoadon] ([MaHoaDon], [MaHD], [NgayThanhToan], [SoLuongHoaDon], [PhuongThucTT], [SoTien], [DaTT], [ConNo], [NguoiLapHoaDon]) VALUES (N'INV2502', N'HDSTANDARD2502', CAST(N'2025-12-01' AS Date), 1, N'Tiền mặt', 2100000.0000, 2100000.0000, 0.0000, N'LT2402')
INSERT [dbo].[Hoadon] ([MaHoaDon], [MaHD], [NgayThanhToan], [SoLuongHoaDon], [PhuongThucTT], [SoTien], [DaTT], [ConNo], [NguoiLapHoaDon]) VALUES (N'INV2503', N'HDPREMIUM2503', CAST(N'2025-10-10' AS Date), 1, N'Quẹt thẻ', 1200000.0000, 1200000.0000, 0.0000, N'LT2501')
GO
INSERT [dbo].[HoiVien] ([maHV], [sdt], [email], [gioitinh], [ngaysinh], [Trangthai], [Ho], [Ten], [CCCD], [DiaChi], [LyDoKhoa]) VALUES (N'HV01', N'0911111111', N'an.nguyen@email.com', N'Nam', CAST(N'1995-01-01' AS Date), N'Active', N'Nguyễn', N'Văn An', N'001095000001', N'123 Lê Lợi, Phường Bến Thành, Quận 1, TP.HCM', NULL)
INSERT [dbo].[HoiVien] ([maHV], [sdt], [email], [gioitinh], [ngaysinh], [Trangthai], [Ho], [Ten], [CCCD], [DiaChi], [LyDoKhoa]) VALUES (N'HV02', N'0922222222', N'binh.tran@email.com', N'Nữ', CAST(N'1998-05-15' AS Date), N'Active', N'Trần', N'Thị Bình', N'001098000002', N'456 Nguyễn Huệ, Phường Bến Nghé, Quận 1, TP.HCM', NULL)
INSERT [dbo].[HoiVien] ([maHV], [sdt], [email], [gioitinh], [ngaysinh], [Trangthai], [Ho], [Ten], [CCCD], [DiaChi], [LyDoKhoa]) VALUES (N'HV03', N'0933333333', N'cuong.le@email.com', N'Nam', CAST(N'1990-10-20' AS Date), N'Expired', N'Lê', N'Văn Cường', N'001090000003', N'789 Trần Hưng Đạo, Phường 1, Quận 5, TP.HCM', NULL)
GO
INSERT [dbo].[HopDong] ([MaHD], [maHV], [MaGoiTap], [NgayBD], [NgayKT], [SoLuong], [TrangThaiHD], [LyDoKhoa]) VALUES (N'HDBASIC2501', N'HV01', N'GTBASIC03', CAST(N'2025-11-15' AS Date), CAST(N'2026-05-14' AS Date), 1, N'Active', NULL)
INSERT [dbo].[HopDong] ([MaHD], [maHV], [MaGoiTap], [NgayBD], [NgayKT], [SoLuong], [TrangThaiHD], [LyDoKhoa]) VALUES (N'HDBASIC2602', N'HV06', N'GTBASIC01', CAST(N'2026-03-20' AS Date), CAST(N'2026-04-19' AS Date), 1, N'Locked', NULL)
INSERT [dbo].[HopDong] ([MaHD], [maHV], [MaGoiTap], [NgayBD], [NgayKT], [SoLuong], [TrangThaiHD], [LyDoKhoa]) VALUES (N'HDBASIC2605', N'HV04', N'GTBASIC02', CAST(N'2026-04-10' AS Date), CAST(N'2026-07-09' AS Date), 1, N'Locked', NULL)
GO
INSERT [dbo].[LichSuXuatBaoCao] ([MaBaoCao], [TenBaoCao], [NguoiXuat], [NgayXuat], [NoiDungTomTat]) VALUES (N'BC01', N'Báo cáo Tổng quan 04/2026', N'LT2602', CAST(N'2026-04-12T15:19:31.000' AS DateTime), N'')
INSERT [dbo].[LichSuXuatBaoCao] ([MaBaoCao], [TenBaoCao], [NguoiXuat], [NgayXuat], [NoiDungTomTat]) VALUES (N'BC02', N'Báo cáo Doanh thu gói tập 04/2026', N'LT2602', CAST(N'2026-04-12T15:19:38.000' AS DateTime), N'')
INSERT [dbo].[LichSuXuatBaoCao] ([MaBaoCao], [TenBaoCao], [NguoiXuat], [NgayXuat], [NoiDungTomTat]) VALUES (N'BC03', N'Báo cáo Hiệu suất HLV 02/2026', N'LT2401', CAST(N'2026-04-12T22:32:59.000' AS DateTime), N'Suất báo cáo chơi')
GO
INSERT [dbo].[LichTap] ([MaLich], [maHV], [MaHLV], [NgayTap], [KhungGioTap], [GhiChu], [TienTap], [XacNhan]) VALUES (N'SCH12042601', N'HV01', N'HLVGYM01', CAST(N'2026-04-12' AS Date), N'08:00 - 09:30', N'Tập ngực và tay sau', 200000.0000, NULL)
INSERT [dbo].[LichTap] ([MaLich], [maHV], [MaHLV], [NgayTap], [KhungGioTap], [GhiChu], [TienTap], [XacNhan]) VALUES (N'SCH12042602', N'HV02', N'HLVYOG01', CAST(N'2026-04-12' AS Date), N'17:00 - 18:00', N'Yoga cơ bản', 250000.0000, NULL)
INSERT [dbo].[LichTap] ([MaLich], [maHV], [MaHLV], [NgayTap], [KhungGioTap], [GhiChu], [TienTap], [XacNhan]) VALUES (N'SCH12042603', N'HV03', N'HLVCAR01', CAST(N'2026-04-12' AS Date), N'08:00 - 10:00', N'', 300000.0000, NULL)
GO
INSERT [dbo].[NhanVien] ([maNV], [matkhau], [chucvu], [SDTNV], [emailNV], [NgaySinhNV], [LuongNV], [HoNV], [TenNV], [ThoiGianVao], [TrangThaidilam], [NgayNghiPhep], [NgayHetPhep], [NghiViec]) VALUES (N'AD2301', N'123456                                            ', N'Admin', N'0901111111', N'admin1@gym.com', CAST(N'1990-05-15' AS Date), 25000000.0000, N'Nguyễn', N'Quản Trị', CAST(N'2023-01-01' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[NhanVien] ([maNV], [matkhau], [chucvu], [SDTNV], [emailNV], [NgaySinhNV], [LuongNV], [HoNV], [TenNV], [ThoiGianVao], [TrangThaidilam], [NgayNghiPhep], [NgayHetPhep], [NghiViec]) VALUES (N'LT2401', N'123456                                            ', N'Lễ tân', N'0904444444', N'letan1@gym.com', CAST(N'1998-02-25' AS Date), 8000000.0000, N'Phạm', N'Lễ Tân Một', CAST(N'2024-03-01' AS Date), N'Nghỉ phép', CAST(N'2026-04-14' AS Date), CAST(N'2026-04-21' AS Date), NULL)
INSERT [dbo].[NhanVien] ([maNV], [matkhau], [chucvu], [SDTNV], [emailNV], [NgaySinhNV], [LuongNV], [HoNV], [TenNV], [ThoiGianVao], [TrangThaidilam], [NgayNghiPhep], [NgayHetPhep], [NghiViec]) VALUES (N'LT2402', N'123456                                            ', N'Lễ tân', N'0905555555', N'letan2@gym.com', CAST(N'1999-07-12' AS Date), 8000000.0000, N'Hoàng', N'Lễ Tân Hai', CAST(N'2024-04-10' AS Date), N'Đi làm', NULL, NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SDTHLV_Unique]    Script Date: 17/04/2026 12:06:42 SA ******/
ALTER TABLE [dbo].[HLV] ADD  CONSTRAINT [SDTHLV_Unique] UNIQUE NONCLUSTERED 
(
	[SDTHLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [cccd_unique]    Script Date: 17/04/2026 12:06:42 SA ******/
ALTER TABLE [dbo].[HoiVien] ADD  CONSTRAINT [cccd_unique] UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [emailhv_unique]    Script Date: 17/04/2026 12:06:42 SA ******/
ALTER TABLE [dbo].[HoiVien] ADD  CONSTRAINT [emailhv_unique] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HoiVien__DDDFB4830A93463B]    Script Date: 17/04/2026 12:06:42 SA ******/
ALTER TABLE [dbo].[HoiVien] ADD UNIQUE NONCLUSTERED 
(
	[sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [email_Unique]    Script Date: 17/04/2026 12:06:42 SA ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [email_Unique] UNIQUE NONCLUSTERED 
(
	[emailNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SDT_Unique]    Script Date: 17/04/2026 12:06:42 SA ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [SDT_Unique] UNIQUE NONCLUSTERED 
(
	[SDTNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CoSoVatChat] ADD  CONSTRAINT [TinhTrangDefault]  DEFAULT (N'Hoạt động') FOR [TinhTrangCSVC]
GO
ALTER TABLE [dbo].[HLV] ADD  DEFAULT (N'Đi làm') FOR [TrangThaidilam]
GO
ALTER TABLE [dbo].[Hoadon] ADD  CONSTRAINT [NgayThanhToan_Default]  DEFAULT (getdate()) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[HoiVien] ADD  CONSTRAINT [Trangthai_Default]  DEFAULT ('Locked') FOR [Trangthai]
GO
ALTER TABLE [dbo].[HopDong] ADD  CONSTRAINT [SoLuong_Default]  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[HopDong] ADD  CONSTRAINT [TrangThaiHD_Default]  DEFAULT ('Locked') FOR [TrangThaiHD]
GO
ALTER TABLE [dbo].[LichTap] ADD  DEFAULT ((0)) FOR [XacNhan]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'Đi làm') FOR [TrangThaidilam]
GO
ALTER TABLE [dbo].[Hoadon]  WITH NOCHECK ADD  CONSTRAINT [MaHD_FK] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[Hoadon] CHECK CONSTRAINT [MaHD_FK]
GO
ALTER TABLE [dbo].[HopDong]  WITH NOCHECK ADD  CONSTRAINT [maGoi_FK] FOREIGN KEY([MaGoiTap])
REFERENCES [dbo].[GoiTap] ([MaGoiTap])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [maGoi_FK]
GO
ALTER TABLE [dbo].[HopDong]  WITH NOCHECK ADD  CONSTRAINT [maHV_FK] FOREIGN KEY([maHV])
REFERENCES [dbo].[HoiVien] ([maHV])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [maHV_FK]
GO
ALTER TABLE [dbo].[LichSuXuatBaoCao]  WITH CHECK ADD  CONSTRAINT [FK_LichSuXuatBaoCao_NhanVien] FOREIGN KEY([NguoiXuat])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[LichSuXuatBaoCao] CHECK CONSTRAINT [FK_LichSuXuatBaoCao_NhanVien]
GO
ALTER TABLE [dbo].[LichTap]  WITH NOCHECK ADD  CONSTRAINT [FK_LichTap_HuanLuyenVien] FOREIGN KEY([MaHLV])
REFERENCES [dbo].[HLV] ([MaHLV])
GO
ALTER TABLE [dbo].[LichTap] CHECK CONSTRAINT [FK_LichTap_HuanLuyenVien]
GO
ALTER TABLE [dbo].[LichTap]  WITH NOCHECK ADD  CONSTRAINT [maHV_FK_Lichtap] FOREIGN KEY([maHV])
REFERENCES [dbo].[HoiVien] ([maHV])
GO
ALTER TABLE [dbo].[LichTap] CHECK CONSTRAINT [maHV_FK_Lichtap]
GO
ALTER TABLE [dbo].[CoSoVatChat]  WITH NOCHECK ADD  CONSTRAINT [SoLuongcheck] CHECK  (([SoLuongCSVC]>=(0)))
GO
ALTER TABLE [dbo].[CoSoVatChat] CHECK CONSTRAINT [SoLuongcheck]
GO
ALTER TABLE [dbo].[HoiVien]  WITH NOCHECK ADD  CONSTRAINT [GT_IN] CHECK  (([gioitinh]=N'Nữ' OR [gioitinh]='Nam'))
GO
ALTER TABLE [dbo].[HoiVien] CHECK CONSTRAINT [GT_IN]
GO
ALTER TABLE [dbo].[HoiVien]  WITH NOCHECK ADD  CONSTRAINT [TT_IN] CHECK  (([Trangthai]='Locked' OR [Trangthai]='Expired' OR [Trangthai]='Active'))
GO
ALTER TABLE [dbo].[HoiVien] CHECK CONSTRAINT [TT_IN]
GO
ALTER TABLE [dbo].[HopDong]  WITH NOCHECK ADD  CONSTRAINT [Check_NgayKT] CHECK  (([NgayKT]>[NgayBD]))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [Check_NgayKT]
GO
ALTER TABLE [dbo].[HopDong]  WITH NOCHECK ADD  CONSTRAINT [TrangThaiHD_CheckIN] CHECK  (([TrangthaiHD]='Locked' OR [TrangthaiHD]='Expired' OR [TrangthaiHD]='Active'))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [TrangThaiHD_CheckIN]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoDoanhThuThang]    Script Date: 17/04/2026 12:06:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BaoCaoDoanhThuThang]
    @Thang INT,
    @Nam INT
AS
BEGIN
    -- 1. Tính Doanh thu
    DECLARE @TongDoanhThu DECIMAL(18,2) = 0;
    DECLARE @TongSoHoaDon INT = 0;
    DECLARE @GiaTriTrungBinh DECIMAL(18,2) = 0;

    SELECT 
        @TongDoanhThu = ISNULL(SUM(SoTien), 0),
        @TongSoHoaDon = COUNT(MaHoaDon)
    FROM Hoadon
    WHERE MONTH(NgayThanhToan) = @Thang AND YEAR(NgayThanhToan) = @Nam;

    IF @TongSoHoaDon > 0 
        SET @GiaTriTrungBinh = @TongDoanhThu / @TongSoHoaDon;

    -- 2. Tính Chi phí lương (Giả sử lấy tổng lương cơ bản của NV và HLV)
    DECLARE @ChiPhiLuong DECIMAL(18,2) = 0;
    SELECT @ChiPhiLuong = ISNULL(SUM(LuongNV), 0) FROM NhanVien;
    DECLARE @LuongHLV DECIMAL(18,2) = 0;
    SELECT @LuongHLV = ISNULL(SUM(Luong), 0) FROM HLV;
    SET @ChiPhiLuong = @ChiPhiLuong + @LuongHLV;

    -- 3. Tính Chi phí bảo trì CSVC trong tháng
    DECLARE @ChiPhiBaoTri DECIMAL(18,2) = 0;
    SELECT @ChiPhiBaoTri = ISNULL(SUM(ChiPhiBaoTri), 0) 
    FROM CoSoVatChat 
    WHERE TinhTrangCSVC = N'Cần bảo trì' OR TinhTrangCSVC = N'Đang bảo trì'; -- Điều chỉnh điều kiện tuỳ logic của bạn

    -- 4. Tính Chi phí mua sắm CSVC trong tháng (Nếu có cột NgayMua)
    DECLARE @ChiPhiMuaSam DECIMAL(18,2) = 0;
    -- SELECT @ChiPhiMuaSam = ISNULL(SUM(ChiPhiMua), 0) FROM CoSoVatChat WHERE MONTH(NgayMua) = @Thang AND YEAR(NgayMua) = @Nam;

    -- 5. Tổng hợp
    DECLARE @TongChiPhi DECIMAL(18,2) = @ChiPhiLuong + @ChiPhiBaoTri + @ChiPhiMuaSam;
    DECLARE @LoiNhuanThuan DECIMAL(18,2) = @TongDoanhThu - @TongChiPhi;

    -- Trả về kết quả
    SELECT 
        @TongDoanhThu AS TongDoanhThuThang,
        @TongSoHoaDon AS TongSoHoaDon,
        @GiaTriTrungBinh AS GiaTriTrungBinhHoaDon,
        @TongChiPhi AS TongChiPhi,
        @LoiNhuanThuan AS LoiNhuanThuan,
        @ChiPhiLuong AS ChiPhiLuong,
        @ChiPhiBaoTri AS ChiPhiBaoTri,
        @ChiPhiMuaSam AS ChiPhiMuaSam;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraHetHan]    Script Date: 17/04/2026 12:06:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KiemTraHetHan]
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Chuyển Hợp đồng sang Expired nếu đã quá ngày kết thúc
    UPDATE HopDong
    SET TrangThaiHD = 'Expired'
    WHERE NgayKT < CAST(GETDATE() AS DATE) 
      AND TrangThaiHD = 'Active'; -- Chỉ khóa những ông đang Active

    -- 2. Chuyển Hội viên sang Expired nếu không còn hợp đồng nào Active
    UPDATE HoiVien
    SET Trangthai = 'Expired'
    WHERE Trangthai = 'Active' 
      AND maHV NOT IN (
          SELECT maHV FROM HopDong 
          WHERE NgayKT >= CAST(GETDATE() AS DATE) AND TrangThaiHD = 'Active'
      );
END
GO
USE [master]
GO
